/*DANGER - section */
.danger-wrapper{
    width:100%;
    padding:160px;
    background-image: url('../img/danger-background.png');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}
.danger{
    display:flex;
}
.danger-left-title{
    font-size:65px;
    line-height: 1.2;
    color:#2c2c2c;
}
.danger-left-text{
    font-size:40px;
    line-height: 1.15;
    color:#2c2c2c;
    padding-top:40px;
}
.danger-right{
    padding:20px 75px;
}
.green-box-obj-danger{
    background-color: rgb(173, 195, 85);
    width: 50px;
    height: 50px;
    border-radius: 15px;
    position: absolute;
    top:55px;
    left:-20px;
    z-index: 1;
    transform: rotate(-45deg);
    /* Safari */
 -webkit-transform: rotate(-45deg);

 /* Firefox */
 -moz-transform: rotate(-45deg);

 /* IE */
 -ms-transform: rotate(-45deg);
}
.danger-main-green-box {
    width: 600px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom:5px;
    margin-top: 225px;
    background-color: #adc355;
    position: relative;
    border-radius: 35px;
    box-shadow: 27px 76px 92px 0px rgba(103, 71, 33, 0.2);
}
.danger-main-box-title {
    font-size: 20px;
    padding: 30px 40px;
    padding-bottom: 20px;
    color: #ffffff;
    letter-spacing: 1px;
    position: relative;
    z-index: 2;
}
.danger-main-box-title h1{
    padding:10px;
}
.danger-support-green-box {
    background-color: #c6d489;
    text-align: left;
    padding: 50px;
    border-radius: 0px 0px 35px 35px;
    display: flex;
    flex-direction: column;
    color: #2c2c2c;
}
.danger-support-box-text {
    font-size: 31px;
    line-height: 1.2;
}
@media only screen and (max-width: 1800px)
{
    .danger-left-text{
        font-size:30px;
    }
    .danger-left-title{
        font-size:51px;
    }
    .danger-main-green-box{
        margin-top:100px;
    }
}
@media only screen and (max-width: 1700px)
{
    .danger-right {
        padding: 20px 70px;
    }
    .danger-support-box-text{
        font-size: 25px;
    }
}
@media only screen and (max-width: 1500px)
{
    .danger-left-title {
        font-size: 40px;
    }
    .danger-left-text {
        font-size: 25px;
    }
    .danger-main-green-box {
        width: 500px;
    }
}
@media only screen and (max-width: 1300px)
{
    .danger{
        flex-direction: column;
    }
    .danger-left-title {
        font-size: 40px;
    }
    .danger-left-text {
        font-size: 35px;
    }
    .green-box-obj-danger{
        top: -25px;
        left: 70px;
        width: 70px;
        height: 70px;
    }
}
@media only screen and (max-width: 900px)
{
    .danger-wrapper{
        padding:120px 100px;
    }
    .danger-main-green-box{
        width:100%;
    }
    .danger-right{
        padding: unset;
    }
    .danger-support-box-text{
        font-size: 20px;
    }
}
@media only screen and (max-width: 700px)
{
    .danger-left-text {
        font-size: 25px;
        padding-left:5px;
        margin-right: 5px;
    }
    .danger-left-title {
        font-size: 30px;
        padding-left:5px;
        margin-right: 5px;
    }
    .danger-wrapper{
        padding:50px 0px;
    }
    .danger-left{
        padding-left:10px;
        padding-right: 10px;
    }
    .danger-main-green-box{
        width:80%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 500px)
{
    .danger-support-box-text {
        font-size: 20px;
    }
}