/*EFFECTIVNESS - section*/
.effectiveness-wrapper{
    width: 100%;
    padding:100px 160px;
    background-color:#decfba;
}
.effectiveness{
    position: relative;
}
.effectiveness .plants{
    height: 910px;
    width: 445px;
    position: absolute;
    right: -160px;
    z-index:20;
}
.eff-TEXT{
    width: 70%;
    color:#2c2c2c;
    margin-bottom:60px;
}
.eff-title{
    font-size:30px;
}
.eff-p{
    font-size: 35px;
}
.results-title{
    border-radius: 25px 25px 0 0;
    background-color: rgb(173, 195, 85);
    text-shadow: 3.078px 8.457px 8px rgba(103, 71, 33, 0.2);
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
    width: 30%;
    padding:15px 0;
}
.results{
    display:flex;
    justify-content: space-evenly;
    position: relative;
    z-index:21;
    width: 100%;
    color:#2c2c2c;
    padding: 3% 5%;
    background-color: #efdec8;
    border:5px solid #cab79e;
    border-radius: 0px 25px 25px 25px;
    box-shadow: 20.863px 57.321px 79px 0px rgba(161, 112, 63, 0.27);
}
.results p{
    margin-top:20px;
    font-size: 37px;
}
.results h1{
    font-size: 50px;
}
.percents{
    width: auto;
    height: auto;
    display:inline-block;
    margin-right: 20px;
}
.percents-text{
    width: auto;
    height: auto;
    display: inline-block;
    font-weight: 300;
}
.HYPERTEA{
    margin-left:90px;
}
.results img{
    margin-top:20px;
}
.results-text{
    display: block;
    line-height: 1.2;
}
@media only screen and (max-width: 1850px)
{
    .results p{
        font-size: 33px;
    }
}
@media only screen and (max-width: 1700px)
{
    .results p{
        font-size: 27px;
    }
    .eff-title{
        font-size: 25px;
    }
}
@media only screen and (max-width: 1500px)
{
    .eff-title{
        font-size: 20px;
    }
    .results{
        flex-direction: column;
        justify-content: none;
        text-align: center;
    }
    .PLACEBO{
        width: 100%;
        margin-left:auto;
        margin-right: auto;
    }
    .HYPERTEA{
        width:100%;
        margin-left:0;
        margin-top:30px;
    }
    .results p{
        font-size: 37px;
        text-align: left;
    }
    .results h1{
        font-size: 75px;
    }
    .results-title{
        width: 50%;
    }
}
@media only screen and (max-width: 1300px)
{
    .plants{
        display:none;
    }
    .eff-TEXT{
        width: 100%;
    }
    .results-title{
        width: 100%;
    }
    .results{
        border-radius: 0 0 25px 25px;
    }
}
@media only screen and (max-width: 1100px)
{
    .eff-p{
        font-size: 25px;
    }
    .results p{
        font-size: 25px;
    }
    .results h1{
        font-size: 40px;
    }
}
@media only screen and (max-width: 850px)
{
    .effectiveness-wrapper{
        padding: 100px 50px;
    }
}
@media only screen and (max-width: 650px)
{
    .eff-title{
        font-size: 15px;
    }
    .eff-p{
        font-size: 20px;
    }
    .results p{
        font-size: 18px;
    }
}
@media only screen and (max-width: 510px)
{
   .effectiveness-wrapper{
       padding: 50px 20px;
   }
   .eff-title{
       font-size: 12px;
   }
}
@media only screen and (max-width: 450px)
{
    .effectiveness-wrapper{
        padding:50px 0;
    }
    .eff-TEXT{
        padding-right: 5px;
        padding-left:5px;
    }
    .results img{
        display: none;
    }
    .results h1{
        font-size: 25px;
    }
    .results p{
        margin-top:5px;
        font-size: 15px;
    }
    .results{
        padding: 3% 0;
    }
}